[D-BUS Service]
Name=org.webosinternals.pulseaudio.settings.srv
Exec=/usr/bin/run-js-service -n /media/cryptofs/apps/usr/palm/services/org.webosinternals.pulseaudio.settings.srv
